/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
    /* Fonts */
    --ab-title-font: 'Bebas Neue', sans-serif;
    --ab-subtitle-font: 'Fira Sans', sans-serif;
    --ab-heading-font: 'Bebas Neue', sans-serif;
    --ab-body-font: 'Roboto', sans-serif;

    /* Basic Colors */
    --ab-dark-color: #212121;
    --ab-light-color: #deeefb;
    --ab-background-color: rgba(250, 250, 250, 0.8);

    /* Text Styles*/
    --ab-font-size: 1.2rem;
    --ab-font-weight: 400;
    --ab-line-height: 1.5rem;
    --ab-title-color: var(--ab-dark-color);

    /* Blue Theme */
    --ab-theme-core: #0d6efd;
    --ab-theme-100: hsl(216, 50%, 91%);
    --ab-theme-150: hsl(216, 50%, 86%);
    --ab-theme-200: hsl(216, 50%, 81%);
    --ab-theme-300: hsl(216, 50%, 71%);
    --ab-theme-400: hsl(216, 50%, 61%);
    --ab-theme-500: hsl(216, 50%, 51%);
    --ab-theme-600: hsl(216, 50%, 41%);
    --ab-theme-700: hsl(216, 50%, 31%);
    --ab-theme-800: hsl(216, 50%, 21%);
    --ab-theme-850: hsl(216, 50%, 16%);
    --ab-theme-900: hsl(216, 50%, 11%);
}

/* Element Overrides */

body {
    font-family: var(--ab-body-font);
    font-size: var(--ab-font-size);
    font-weight: var(--ab-font-weight);
    line-height: var(--ab-line-height);
    color: var(--ab-dark-color);
    background: var(--ab-background-color);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--ab-heading-font);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--ab-title-color);
    letter-spacing: .1rem;
}

a {
    color: var(--ab-theme-500);
}

a:hover {
    color: var(--ab-theme-400);
}

main {
    margin-bottom: 5rem;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* End Element Overrides */

/* Begin: Home Page */

#home {
    background-color: var(--ab-theme-900);
    background-image: url(/img/space_bg.jpg);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}


/* End Home Page */

/* Main Content */

.section-page {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-page:nth-child(even) {
    background-color: var(--ab-theme-100);
}

.section-page:nth-child(odd) {
    background-color: var(--ab-theme-150);
}



/* End Main Content*/

/* Footer Styles */

.socialicons {
    font-size: 2rem;
    transition: color 0.35s;
}

.socialicons:hover {
    color: var(--ab-theme-core)
}

footer.fixed-bottom {
    background-color: var(--ab-theme-900)
}

footer .card {
    background-color: var(--ab-theme-800)
}

/* End Footer Styles */